<aside class="col-md-3" role="complementary">
    <div class="region">
        <div class="region add-account">
            <a href="javascript:void(0)"  ng-click="sidebar.addAccountForm()" class=""><span>+</span>Добавить
                аккаунт </a>
        </div>

        <div class="region accounts-listed">
            <div class="user-accounts">
                <div class="accounts-list-header">
                    <span>Accounts:</span>
                </div>
                <div class="managed-accounts">
                    <div inst-account-bar ng-repeat="acc in sidebar.accounts" class="inst-account"></div>
                </div>
            </div>
        </div>
    </div>
</aside>